<%= form_for @shop do |l| %>

<div class= "small-6 columns">
  <%= l.label :name %>
  <%= l.text_field :name %>
</div>

<div class= "small-6 columns">
  <%= l.submit  name = "Tweet @ Me!", class: 'button' %>
</div>
<% end %>
