<div class = 'row'>
  <div class= "small-12 columns">
    <h1>Codaccino</h1>

    <h2>Need to update a shop. No problem</h2>
  </div>
</div>

<%= render 'form' %>

<div class = 'row'>
  <div class= "small-12 columns">
    <h3>Thanks for keeping tending shop.. Get it tending shop.. nm </h3>
  </div>
</div>
