<div class = 'row'>
  <div class= "small-12 columns">
    <h1>New Coffeeshop</h1>
    <h2>Where are you today?</h2>
  </div>
</div>

  <%= render 'form' %>

<!-- make sure these aren't stated as my opinions -->
<!-- Your comment not mine style popul -->
