<div class = 'row'>
  <% flash.each do |key,value| %>
    <div class = "alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
</div>
<%= render 'shared/shop_details', shop: @shop %>
