<%= form_for @lead do |l| %>

<div class= "field">
  <%= l.label :twitter_handle %>
  <%= l.text_field :twitter_handle %>
</div>

<div class= "actions">
  <%= l.submit  name = "Tweet @ Me!" %>
</div>
<% end %>
