<%= form_for @lead do |l| %>

<div class= "small-6 columns">
  <%= l.label :twitter_handle %>
  <%= l.text_field :twitter_handle %>
</div>

<div class= "small-6 columns">
  <%= l.submit  name = "Tweet @ Me!", class: 'button' %>
</div>
<% end %>
