<div class='row'>
  <div class='small-12 columns'>
    <H1>Codaccino</H1>
    <h2>Find Coffee, wifi, and friends FAST!</h2>
    <ol>
      <li>Avoid crappy Corporate Coffeshops</li>
      <li>Work in a productive environment</li>
      <li>Make friends as you work </li>
    </ol>
  </div>
  <%= render 'form' %>
</div>
