<header>

  <div class = 'logo'>
    <%= link_to shops_index_path, alt: 'Home' do %>
      <span>< ></span><i class="fa fa-coffee fa-2x"></i>
    <% end %>
  </div>
  <div class = 'menu'>
    <%= link_to shops_index_path, alt: 'Menu' do %>
      <i class="fa fa-bars fa-2x"></i>
    <% end %>
  </div>


</header>
